<a href="https://colab.research.google.com/github/Mohamednkadi/pythonprojects/blob/main/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [24]:
my_list = [12, 3, 'car', 'person', -3]
my_list

[12, 3, 'car', 'person', -3]

## 2.	Print out those variables by using a for loop

In [23]:
my_list = [12, 3, 'car', 'person', -3.5]
for x in my_list:
  print(x)

12
3
car
person
-3.5

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
my_list = [12, 3, 'car', 'person', -3.5]
for x in my_list:
  print("the index : " , my_list.index(x), "in the list has ","'",x,"'" ", and is a type of ", type(x))

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for x in range (0,20):
  if x%2==0:
    print(x+2)

## 5.	Sort your list in alphabetic order.

In [42]:
new_list = ['sam','karma','stefan','marie','albert','laila']
new_list.sort()
print(new_list)

['albert', 'karma', 'laila', 'marie', 'sam', 'stefan']

## 6.	Print out the first three elements of your list.

In [44]:
# this will give the first three elements of the sorted list new_list.
print(new_list[:3])

['albert', 'karma', 'laila']

## 7.	Create a loop to print the last 2 elements of your list.

In [48]:
# this will print the last two elements of the sorted list new_list
print(new_list[-2:])

['sam', 'stefan']